{
  "api-gateway/**/*.{js,json}": [
    "npm run lint --prefix api-gateway",
    "npm run build --prefix api-gateway",
    "npm test --prefix api-gateway -- --findRelatedTests --passWithNoTests || (echo Warning: No tests implemented skipping && exit 0)"
  ],
  "auth-service/**/*.{js,json}": [
    "npm run lint --prefix auth-service",
    "npm run build --prefix auth-service",
    "npm test --prefix auth-service -- --findRelatedTests --passWithNoTests || (echo Warning: No tests implemented skipping && exit 0)"
  ],
  "notification-service/**/*.{js,json}": [
    "npm run lint --prefix notification-service",
    "npm run build --prefix notification-service",
    "npm test --prefix notification-service -- --findRelatedTests --passWithNoTests || (echo Warning: No tests implemented skipping && exit 0)"
  ],
  "report-service/**/*.{js,json}": [
    "npm run lint --prefix report-service",
    "npm run build --prefix report-service",
    "npm test --prefix report-service -- --findRelatedTests --passWithNoTests || (echo Warning: No tests implemented skipping && exit 0)"
  ],
  "task-service/**/*.{js,json}": [
    "npm run lint --prefix task-service",
    "npm run build --prefix task-service",
    "npm test --prefix task-service -- --findRelatedTests --passWithNoTests || (echo Warning: No tests implemented skipping && exit 0)"
  ]
}
