{
  "auth-service/**/*.{js,json}": [
    "npm run lint --prefix auth-service",
    "npm test --prefix auth-service -- --findRelatedTests"
  ],
  "task-service/**/*.{js,json}": [
    "npm run lint --prefix task-service",
    "npm test --prefix task-service -- --findRelatedTests"
  ],
  "notification-service/**/*.{js,json}": [
    "npm run lint --prefix notification-service",
    "npm test --prefix notification-service -- --findRelatedTests"
  ],
  "report-service/**/*.{js,json}": [
    "npm run lint --prefix report-service",
    "npm test --prefix report-service -- --findRelatedTests"
  ]
}
